@media screen and (min-width:768px){
    #callBtn img{
        height: 20px !important;
        width: 20px;
        vertical-align: middle;
    }
    #callBtn{
        font-size: 18px;
    }
    .container{
        width: 750px;
    }
    .banner{
        height: 100vh;
    }
    .banner .second_section{
        height: 40vh;
    }
    .banner .second_section h1{
        font-size: 42px;
        text-align: center;
    }
    .section4 .display_flex > .display_flex_col{
    }
}
@media screen and (min-width:1000px){
    .section4 .display_flex .display_flex_col img{
    }
    .container{
        width: 978px;
        padding: 0 20px;
    }
    .section2 .div2{
        width: 40%;
    }
    .section2 .div1{
        width: 49%;
    }
    .section2{
        justify-content: space-between;
    }
    .section4 .display_flex > .display_flex_col{
    }
}
@media screen and (min-width:1200px){
    .container{
        width: 1170px;
    }
    
}